@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: sans-serif;
}

body {
  margin: 0;
  box-sizing: border-box;
}

.header-container {
  box-shadow: 10px 5px 5px rgba(25, 24, 24, 0.092);
  background-color: whitesmoke;
}

.header {
  width: 75%;
  height: 60px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  font-family: monospace;
}

.header .log-btn {
  border: none;
  background-color: rgb(255, 136, 0);
  padding: 5px 15px;
  border-radius: 5px;
  color: rgb(245, 245, 245);
}

.header .no-underline {
  text-decoration: none;
  color: rgba(128, 128, 128, 0.83);
}

.header .no-underline:hover {
  color: rgb(255, 136, 0);
  cursor: pointer;
}

.logo {
  display: flex;
}

.logo i {
  color: rgb(235, 122, 9);
}

.logo img {
  width: 120px;
  height: 40px;
  margin: 0 13px;
}

.search {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  background-color: rgba(104, 104, 110, 0.234);
  display: flex;
  place-items: center;
  justify-content: center;
  list-style: none;
}

.navItems ul {
  display: flex;
  gap: 40px;
  padding: 0;
}

.navItems ul li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 1px;
  color: gray;
}

.navItems ul li span {
  position: relative;
  top: -7px;
  color: rgb(255, 136, 0);
  right: 9px;
  font-weight: bold;
  font-size: 12px;
  font-family: sans-serif;
}

.menu-bar {
  display: none;
}

.card-container {
  width: 250px;
  height: 100%;
  padding: 5px;
  border-radius: 15px;
  margin-bottom: 20px;
  transition: transform 0.4s;
}

.card-container:hover {
  cursor: pointer;
  border-radius: 15px;
  background-color: #78707014;
  height: 100%;
  transform: scale(0.9);
}

.card-container .img-container {
  position: relative;
  max-height: 165px;
}

.card-container .img-container img {
  width: 100%;
  border-radius: 15px;
  max-height: 165px;
}

.card-container .img-container span {
  color: rgba(255, 255, 255, 0.964);
  font-size: 17px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: relative;
  bottom: 30px;
  left: 10px;
  font-weight: bolder;
  letter-spacing: 2px;
}

.card-details {
  padding: 5px;
  line-height: 5px;
}

.card-details .res-name {
  font-size: 17px;
  margin: 0;
  letter-spacing: 0.5px;
  color: rgb(112, 112, 112);
  font-weight: 600;
  line-height: 18px;
}

.card-details .res-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-details .res-type {
  color: gray;
  font-size: 15px;
  line-height: 18px;
  margin: 5px 0;
}

.card-details .res-rate {
  color: gray;
  margin: 0;
}

.card-details .res-rate i {
  color: rgb(218, 138, 27);
  margin-right: 3px;
}

.card-details .del-time {
  color: gray;
  margin: 0;
}

.card-details .del-time i {
  color: rgb(79, 177, 64);
  margin-right: 3px;
}
.card-details .del-time i:hover {
  color: rgb(200, 78, 17);
}
.card-details .rate-time {
  display: flex;
  justify-content: space-between;
}
.card-details .distance p {
  font-size: 11px;
  color: gray;
  margin-top: 10px;
}
.card-details .distance p span {
  font-size: large;
}
.card-details .location {
  font-size: 10px;
  color: gray;
  margin: 0;
}

.card-details .location i {
  color: rgb(63, 118, 177);
  margin-right: 5px;
  font-size: 15px;
}

.shimmer-container {
  width: 75%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin: auto;
  margin-top: 80px;
}

.shimmer-card div {
  width: 250px;
  height: 150px;
  border-radius: 15px;
  background-color: rgba(128, 128, 128, 0.453);
}
.shimmer-card .shimmer-foot {
  width: 250px;
  height: 30px;
  border-radius: 10px;
  margin: 20px 0;
  background-color: rgba(128, 128, 128, 0.453);
}

.search-container {
  width: 80%;
  margin: auto;
  margin-top: 30px;
}

.search-container .input-container {
  width: 100%;
  height: 30px;
  border: 1px solid rgba(128, 128, 128, 0.763);
  margin-top: 10%;
  display: flex;
  align-items: center;
}

.search-container .input-container input {
  border: none;
  background-color: transparent;
  margin-left: 10px;
  width: 100%;
  justify-content: space-between;
  font-family: monospace;
  outline: none;
}

.search-container .input-container i {
  margin-right: 10px;
  color: rgba(128, 128, 128, 0.763);
}

.search-cards {
  width: 100%;
  margin-top: 30px;
  gap: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.search-card {
  display: flex;
  width: 200px;
  gap: 20px;
  color: rgb(91, 91, 91);
}

.search-card .img-container img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.search-card .text-container h6 {
  margin-top: -15px;
}

.search-container {
  width: 80%;
  margin: auto;
  margin-top: 30px;
}

.search-shimmer .search-container .input-container {
  width: 100%;
  height: 30px;
  border: 1px solid rgba(128, 128, 128, 0.763);
  margin-top: 10%;
  display: flex;
  align-items: center;
}

.search-shimmer .search-container .input-container input {
  border: none;
  background-color: transparent;
  margin-left: 10px;
  width: 100%;
  justify-content: space-between;
  font-family: monospace;
  outline: none;
}

.search-shimmer .search-container .input-container i {
  margin-right: 10px;
  color: rgba(128, 128, 128, 0.763);
}

.search-shimmer .search-cards {
  width: 100%;
  margin-top: 30px;
  gap: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.search-shimmer .search-card {
  width: 100px;
  height: 70px;
  border-radius: 10px;
  display: flex;
  width: 200px;
  gap: 20px;
}
.search-shimmer .search-card .img-container {
  width: 60px;
  height: 60px;
  background-color: rgba(128, 128, 128, 0.548);
  margin: 5px;
  border-radius: 10px;
}

.search-shimmer .search-card .text-container {
  width: 100px;
  height: 20px;
  border-radius: 5px;
  background-color: rgba(128, 128, 128, 0.542);
  margin-top: 10px;
}

.menu-container {
  width: 50%;
  margin: auto;
}
.menu-container .res-details .res-head {
  height: 40px;
  margin-bottom: 10px;
}
.menu-container .res-details .res-head p {
  font-size: 10px;
  padding: 10px 0;
  color: gray;
  letter-spacing: 0.5px;
}
.menu-container .res-details .res-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px dashed gray;
}
.menu-container .res-details .res-info .res-name {
  font-size: 17px;
}
.menu-container .res-details .res-info .common-gray {
  color: rgb(128, 128, 128);
  font-size: 13px;
}
.menu-container .res-details .res-info .common-gray i {
  color: rgb(43, 114, 175);
  font-size: 15px;
}
.menu-container .res-details .res-info .common-bold {
  font-size: 13px;
  display: flex;
  gap: 20px;
  font-weight: bolder;
}
.menu-container .res-details .res-info .common-bold i {
  border: 1px solid black;
  border-radius: 50%;
  margin-right: 5px;
  padding: 2px;
  font-size: 15px;
  font-weight: bold;
  color: rgb(142, 172, 198);
  border-color: rgb(142, 172, 198);
}
.menu-container .res-details .res-info .rating {
  display: grid;
  place-items: center;
  border: 1px solid rgba(74, 74, 74, 0.236);
  height: 60px;
  width: 60px;
  margin-bottom: 100px;
}
.menu-container .res-details .res-info .rating .star {
  border-bottom: 1px solid rgba(128, 128, 128, 0.408);
  padding-bottom: 7px;
  color: green;
  font-weight: bolder;
  font-size: 15px;
  letter-spacing: 0.3px;
}
.menu-container .res-details .res-info .rating .count {
  font-size: 10px;
  color: rgb(115, 115, 12);
}
.menu-container .menu-list {
  margin-top: 30px;
}
.menu-container .menu-list .veg-filter {
  display: flex;
  align-items: center;
  gap: 5px;
}
.menu-container .menu-list .veg-filter span {
  font-size: 15px;
  font-weight: bolder;
  color: gray;
}
.menu-container .menu-list .veg-filter i {
  font-size: 25px;
  font-weight: lighter;
  color: gray;
  cursor: pointer;
}
.menu-container .menu-list .veg-filter i.active {
  font-size: 25px;
  font-weight: lighter;
  color: green;
}
.categoryMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  color: rgb(112, 112, 112);
  font-weight: bolder;
  cursor: pointer;
}

.categoryMenu i {
  font-size: 25px;
}

.user-class {
  margin: 10px;
  border: 1px solid rgba(128, 128, 128, 0.234);
  border-radius: 10px;
  padding: 20px;
  background-color: rgba(128, 128, 128, 0.119);
  color: rgb(77, 76, 76);
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-class img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.user-class div {
  gap: 20px;
}

@media (max-width: 1040px) {
  .body {
    width: 90%;
    margin: auto;
  }
  .menu-bar {
    display: block;
  }
  .navItems.active {
    display: block;
  }
  .navItems.disabled {
    display: none;
  }
  .navItems ul {
    display: block;
  }
  .navItems {
    background-color: rgba(0, 0, 0, 0.87);
    width: 200px;
    height: 190px;
    position: relative;
    top: 140px;
    color: white;
    border-radius: 5px;
    z-index: 1;
    left: 180px;
  }
  .navItems ul li {
    gap: 5px;
    font-size: small;
    margin-bottom: 20px;
  }
  .navItems ul li span {
    display: none;
  }
}

@media (max-width: 780px) {
  .header {
    width: 85%;
  }
  .navItems {
    left: 120px;
  }
  .navItems ul li {
    margin-bottom: 20px;
  }
  .menu-container {
    width: 75%;
    margin: auto;
  }
}

@media (max-width: 650px) {
  .navItems {
    left: 70px;
    margin-right: 10px;
  }
  .navItems ul li {
    margin-bottom: 20px;
  }
  .menu-container {
    width: 90%;
    margin: auto;
  }
  .header {
    width: 95%;
  }
}
@media (max-width: 500px) {
  .filter {
    display: block;
  }
}
